/* MOBILE */
@media only screen and (max-width: 40em) {
    body {
        text-align: center;
        background-color: red;
        color: aliceblue;
       }
       .FirstBand{
           display: block;
       }
       .SecondBand{
        display: none;
       }
       .LastBand{
        display: none;
       }
 } 

/* TABLET */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    body {
        text-align: center;
        background-color: blue;
        color: aliceblue;
       }
       .FirstBand{
           display: none;
       }
       .SecondBand{
        display: block;
       }
       .LastBand{
        display: none;
       }
} 

/* DESKTOP */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
    body {
        text-align: center;
        background-color: green;
        color: aliceblue;
       }
       .FirstBand{
           display: none;
       }
       .SecondBand{
        display: none;
       }
       .LastBand{
        display: block;
       }
} 