div {
  width: 250px;
  height: 250px;
  background-color: red;
  position: relative;
  animation-name: wutang;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes wutang {
  0% {
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
  }
  25%,
  75% {
    background-color: blue;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;
  }
  50%,
  100% {
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    left: 0px;
    top: 0px;
  }
}
